
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<table>
    <tr>
        <td>@Html.ActionLink("Upload Photo","Index","ImageGallery")</td>
    </tr>

    <tr>
        <td>@Html.ActionLink("User Basic Info", "Index", "UserBasicInfo") </td>
    </tr>

    <tr>
        <td>@Html.ActionLink("User Lived Info", "Index", "UserLivedInfo") </td>
    </tr>

    <tr>
        <td>@Html.ActionLink("User Work & Study Info", "Index", "UserWorkAndStudyInfo") </td>
    </tr>
    
    
</table>



